Twój kod potwierdzenia dla ANIMINA
---

Witaj <%= @display_name %>,

Twój kod potwierdzenia to:

    <%= @pin %>

Proszę wprowadzić ten kod w ciągu 30 minut, aby
potwierdzić swój adres e-mail.

Masz maksymalnie 3 próby. Po 3 błędnych wpisach lub
po 30 minutach Twoje konto zostanie usunięte i będziesz
musiał/a zarejestrować się ponownie.

Jeśli nie zakładałeś/aś konta na ANIMINA, prosimy o
zignorowanie tego e-maila.
