Resetowanie hasła – ANIMINA
---

==============================

Witaj <%= @email %>,

Możesz zresetować hasło, odwiedzając poniższy link:

<%= @url %>

Ten link jest ważny przez 1 godzinę.

Jeśli nie prosiłeś/aś o nowe hasło, prosimy o
zignorowanie tego e-maila.

==============================
