Masz nieprzeczytane wiadomości na ANIMINA
---
Cześć<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

Masz <%= @unread_count %> nieprzeczytanych wiadomości czekających na Ciebie na ANIMINA.

Ktoś jest zainteresowany poznaniem Ciebie! Nie każ im czekać.

Zaloguj się teraz, aby przeczytać swoje wiadomości:
https://animina.de/my/messages
