Instrukcje zmiany adresu e-mail – ANIMINA
---

Witaj <%= @display_name %>,

Możesz zmienić swój adres e-mail, odwiedzając poniższy
link:

<%= @url %>

Jeśli nie prosiłeś/aś o tę zmianę, prosimy o
zignorowanie tej wiadomości.
