<!DOCTYPE html>
<html lang="de-DE" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title prefix="">
      <%= assigns[:page_title] || "" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white dark:text-white text-gray-900  dark:bg-gray-900 antialiased">
    <main class="block md:hidden">
      <.top_navigation
        active_tab={:none}
        language={@language}
        current_user={@current_user}
        current_user_credit_points={
          if @current_user do
            @current_user.credit_points
          else
            0
          end
        }
        number_of_unread_messages={0}
      />
    </main>

    <div class="w-[100%] flex justify-between">
      <.desktop_sidebar_navigation
        active_tab={:none}
        current_user={@current_user}
        current_user_credit_points={
          if @current_user do
            @current_user.credit_points
          else
            0
          end
        }
        language={@language}
        number_of_unread_messages={0}
      />
      <div class="w-[100%] md:ml-[20%] md:pt-[70px] pt-[10px] px-[8px] md:px-[20px] ">
        <.flash_group flash={@flash} />
        <div class="w-[90%] flex flex-col md:text-xl gap-1 justify-center items-center m-auto text-center pt-12">
          <p>This profile either doesn't exist or you don't have enough points to access it.</p>

          <p>You need 20 points to access a .</p>
        </div>

        <.footer />
      </div>
    </div>
  </body>
</html>
