ANIMINA est un service de rencontre gratuit proposé par Wintermeyer
Consulting. Vous pouvez contacter directement le fondateur
Stefan Wintermeyer par e-mail à sw@wintermeyer-consulting.de ou
sur les réseaux sociaux @wintermeyer.
