Votre code de confirmation pour ANIMINA
---

Bonjour <%= @display_name %>,

Votre code de confirmation est :

    <%= @pin %>

Veuillez saisir ce code dans les 30 minutes pour
confirmer votre adresse e-mail.

Vous disposez d'un maximum de 3 tentatives. Après
3 saisies erronées ou après 30 minutes, votre compte
sera supprimé et vous devrez vous réinscrire.

Si vous n'avez pas créé de compte sur ANIMINA, veuillez
ignorer cet e-mail.
