Réinitialisation du mot de passe – ANIMINA
---

Bonjour <%= @display_name %>,

Vous pouvez réinitialiser votre mot de passe en visitant
le lien suivant :

<%= @url %>

Ce lien est valide pendant 1 heure.

Si vous n'avez pas demandé un nouveau mot de passe,
veuillez ignorer cet e-mail.
