Aviso de seguridad – ANIMINA
---

Hola<%= if @display_name do %> <%= @display_name %><% end %>,

Alguien intentó el <%= @attempted_at %> crear una nueva
cuenta de ANIMINA con tu dirección de correo electrónico
(<%= @email %>).

Si no fuiste tú, te recomendamos cambiar tu contraseña
para proteger tu cuenta.

Si estabas intentando registrarte: ya tienes una cuenta.
Por favor inicia sesión con tu contraseña existente o
utiliza la función de contraseña olvidada.
