Restablecer contraseña – ANIMINA
---

Hola <%= @greeting_name %>,

Puedes restablecer tu contraseña visitando el siguiente
enlace:

<%= @url %>

Este enlace es válido durante 1 hora.

Si no solicitaste una nueva contraseña, por favor ignora
este correo electrónico.
