Tienes mensajes sin leer en ANIMINA
---
Hola<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

Tienes <%= @unread_count %> mensaje<%= if @unread_count > 1, do: "s" %> sin leer esperándote en ANIMINA.

¡Alguien está interesado/a en conocerte! No le hagas esperar.

Inicia sesión ahora para leer tus mensajes:
https://animina.de/messages
