ANIMINA, Wintermeyer Consulting tarafından sunulan ücretsiz bir
tanışma hizmetidir. Kurucumuz Stefan Wintermeyer ile doğrudan
sw@wintermeyer-consulting.de adresinden veya sosyal medyada
@wintermeyer üzerinden iletişime geçebilirsiniz.
