Şifre sıfırlama – ANIMINA
---

Merhaba <%= @greeting_name %>,

Aşağıdaki bağlantıyı ziyaret ederek şifrenizi
sıfırlayabilirsiniz:

<%= @url %>

Bu bağlantı 1 saat geçerlidir.

Yeni bir şifre talep etmediyseniz, lütfen bu e-postayı
dikkate almayın.
