ANIMINA'da okunmamış mesajlarınız var
---
Merhaba<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

ANIMINA'da sizi bekleyen <%= @unread_count %> okunmamış mesajınız var.

Biri sizi tanımak istiyor! Onu bekletmeyin.

Mesajlarınızı okumak için şimdi giriş yapın:
https://animina.de/my/messages
