E-posta değiştirme talimatları – ANIMINA
---

Merhaba <%= @greeting_name %>,

Aşağıdaki bağlantıyı ziyaret ederek e-postanızı
değiştirebilirsiniz:

<%= @url %>

Bu değişikliği siz talep etmediyseniz, lütfen bunu
dikkate almayın.
