E-posta değiştirme talimatları – ANIMINA
---

==============================

Merhaba <%= @display_name %>,

Aşağıdaki bağlantıyı ziyaret ederek e-postanızı
değiştirebilirsiniz:

<%= @url %>

Bu değişikliği siz talep etmediyseniz, lütfen bunu
dikkate almayın.

==============================
