@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* App is optimized for mobile phones. Limit maximum width on other devices for now. */
body {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 500px) {
  /* Adjust max-width for smaller screens */
  body {
    max-width: 13.229cm;
  }
}

@media screen and (min-width: 501px) {
  /* Adjust width for larger screens */
  body {
    width: 80%;
  }
}

input:invalid:not(:placeholder-shown) {
  background-color: hsl(12, 100%, 95%);
}

input:not([placeholder])[type="text"],
input:not([placeholder])[type="email"],
input:not([placeholder])[type="number"],
input:not([placeholder])[type="password"],
input:not([placeholder])[type="date"],
input:not([placeholder])[type="datetime"],
input:not([placeholder])[type="datetime-local"],
input:not([placeholder])[type="file"],
input:not([placeholder])[type="month"],
input:not([placeholder])[type="search"],
input:not([placeholder])[type="tel"],
input:not([placeholder])[type="time"],
input:not([placeholder])[type="url"],
input:not([placeholder])[type="week"] {
  border: 5px dashed #f30 !important;
  outline: 5px dashed #f96 !important;
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
  opacity: 0.5;
}

p,
*.wordwrap {
  @apply break-words hyphens-auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="file"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
  @apply shadow-inner;
}

input[type="checkbox"],
input[type="radio"] {
  @apply drop-shadow-md;
}

input[type="button"],
input[type="submit"] input[type="reset"],
button,
select {
  @apply drop-shadow-lg;
}

/*
# For Emacs:
# Local Variables:
# mode: css
# indent-tabs-mode: t
# tab-width: 3
# End:
# For VIM:
# vim:set noexpandtab:
*/
