@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* App is optimized for mobile phones. Limit maximum width on other devices for now. */
body {
	max-width: 13.229cm; /* == 500px == 375pt */
	margin-left: auto;
	margin-right: auto;
}

input:invalid {
	background-color: hsl( 12, 100%, 95% );
}

input:disabled, select:disabled, textarea:disabled, button:disabled {
	opacity: 0.5;
}

p, *.wordwrap {
	@apply break-words hyphens-auto;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="file"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"] {
	@apply shadow-inner;
}

input[type="checkbox"],
input[type="radio"] {
	@apply shadow-md;
}

input[type="button"],
input[type="submit"]
input[type="reset"],
button,
select {
	@apply shadow-lg;
}



/*
# For Emacs:
# Local Variables:
# mode: css
# indent-tabs-mode: t
# tab-width: 3
# End:
# For VIM:
# vim:set noexpandtab:
*/

