Passwort zurücksetzen – ANIMINA
---

Hallo <%= @greeting_name %>,

Du kannst dein Passwort zurücksetzen, indem du den
folgenden Link besuchst:

<%= @url %>

Dieser Link ist 1 Stunde gültig.

Falls du kein neues Passwort angefordert hast,
ignoriere bitte diese E-Mail.
