Passwort zurücksetzen – ANIMINA
---

==============================

Hallo <%= @display_name %>,

Sie können Ihr Passwort zurücksetzen, indem Sie den
folgenden Link besuchen:

<%= @url %>

Dieser Link ist 1 Stunde gültig.

Falls Sie kein neues Passwort angefordert haben,
ignorieren Sie bitte diese E-Mail.

==============================
