E-Mail-Änderungsanleitung – ANIMINA
---

Hallo <%= @display_name %>,

Du kannst deine E-Mail ändern, indem du die folgende
URL besuchst:

<%= @url %>

Falls du diese Änderung nicht angefordert hast,
ignoriere bitte diese Nachricht.
