E-Mail-Änderungsanleitung – ANIMINA
---

Hallo <%= @display_name %>,

Sie können Ihre E-Mail ändern, indem Sie die folgende
URL besuchen:

<%= @url %>

Falls Sie diese Änderung nicht angefordert haben,
ignorieren Sie bitte diese Nachricht.
