ANIMINA — это бесплатный сервис знакомств от Wintermeyer Consulting.
Вы можете связаться с основателем Стефаном Винтермайером напрямую
по электронной почте sw@wintermeyer-consulting.de или в социальных
сетях @wintermeyer.
