Ваш аккаунт ANIMINA запланирован к удалению
---

Здравствуйте, <%= @display_name %>,

Ваш аккаунт ANIMINA был удалён. Нам жаль, что вы уходите!

Если вы передумаете, вы можете в любой момент восстановить
свой аккаунт, просто войдя с помощью своего адреса электронной
почты и пароля по адресу:

https://animina.de/users/log-in

Ваш аккаунт и все данные будут окончательно удалены
<%= @permanent_deletion_date %>.

После этой даты восстановление будет невозможно.
