ANIMINA: <%= @count %> <%= if @count == 1, do: "новый пользователь", else: "новых пользователей" %> за последние 24 часа
---

Здравствуйте,

<%= @count %> <%= if @count == 1, do: "новый пользователь зарегистрировался и подтвердил аккаунт через PIN на ANIMINA за последние 24 часа.", else: "новых пользователей зарегистрировались и подтвердили аккаунт через PIN на ANIMINA за последние 24 часа." %>
