Уведомление о безопасности – ANIMINA
---

Здравствуйте<%= if @display_name do %>, <%= @display_name %><% end %>,

Кто-то попытался <%= @attempted_at %> создать новый
аккаунт ANIMINA с вашим адресом электронной почты
(<%= @email %>).

Если это были не вы, мы рекомендуем сменить пароль для
защиты вашего аккаунта.

Если вы пытались зарегистрироваться: у вас уже есть
аккаунт. Пожалуйста, войдите с существующим паролем
или воспользуйтесь функцией восстановления пароля.
