[ANIMINA] Оповещение об очереди Ollama: <%= @queue_count %> фото в ожидании
---

Здравствуйте,

Очередь проверки фото Ollama превысила пороговое значение.

Статус очереди:
- Фото в ожидании: <%= @queue_count %>
- Возраст самого старого фото: <%= @oldest_photo_age_hours %> часов
- Состояние Ollama: <%= @ollama_status %>

Пожалуйста, проверьте страницу администратора и примите меры:
https://animina.de/admin/ollama-queue

Это оповещение отправляется не чаще одного раза в час.
