Сброс пароля – ANIMINA
---

Здравствуйте, <%= @greeting_name %>,

Вы можете сбросить пароль, перейдя по следующей ссылке:

<%= @url %>

Эта ссылка действительна в течение 1 часа.

Если вы не запрашивали новый пароль, пожалуйста,
проигнорируйте это письмо.
