У вас есть непрочитанные сообщения на ANIMINA
---
Привет<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

У вас <%= @unread_count %> непрочитанн<%= if @unread_count > 1, do: "ых сообщений", else: "ое сообщение" %> на ANIMINA.

Кто-то хочет познакомиться с вами! Не заставляйте ждать.

Войдите, чтобы прочитать сообщения:
https://animina.de/messages
