Инструкции по изменению электронной почты – ANIMINA
---

==============================

Здравствуйте, <%= @display_name %>,

Вы можете изменить свой адрес электронной почты,
перейдя по ссылке ниже:

<%= @url %>

Если вы не запрашивали это изменение, пожалуйста,
проигнорируйте это сообщение.

==============================
