Security notice – ANIMINA
---

Hello<%= if @display_name do %> <%= @display_name %><% end %>,

Someone tried on <%= @attempted_at %> to create a new
ANIMINA account with your email address (<%= @email %>).

If this was not you, we recommend changing your password
to protect your account.

If you were trying to register yourself: You already
have an account. Please log in with your existing
password or use the forgot password feature.
