Reset password – ANIMINA
---

Hi <%= @display_name %>,

You can reset your password by visiting the following
link:

<%= @url %>

This link is valid for 1 hour.

If you did not request a new password, please ignore
this email.
