Security Alert: Your password was changed – ANIMINA
---

Hi <%= @greeting_name %>,

The password on your ANIMINA account (<%= @email %>) was just changed.

If this was you, click here to confirm:
<%= @confirm_url %>

If this was NOT you, click here to undo immediately:
<%= @undo_url %>

The undo link is valid for 48 hours. After that, the
change becomes permanent.

If you need help, contact <%= @support_email %>
