You have unread messages on ANIMINA
---
Hi<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

You have <%= @unread_count %> unread message<%= if @unread_count > 1, do: "s" %> waiting for you on ANIMINA.

Someone is interested in getting to know you! Don't keep them waiting.

Log in now to read your messages:
https://animina.de/messages
