ANIMINA هي خدمة تعارف مجانية مقدمة من Wintermeyer Consulting.
يمكنك التواصل مع المؤسس Stefan Wintermeyer مباشرة عبر البريد
الإلكتروني sw@wintermeyer-consulting.de أو عبر وسائل التواصل
الاجتماعي @wintermeyer.
