رمز التأكيد الخاص بك لـ ANIMINA
---

==============================

مرحبًا <%= @email %>،

رمز التأكيد الخاص بك هو:

    <%= @pin %>

يرجى إدخال هذا الرمز خلال 30 دقيقة لتأكيد عنوان
بريدك الإلكتروني.

لديك 3 محاولات كحد أقصى. بعد 3 إدخالات خاطئة أو
بعد 30 دقيقة، سيتم حذف حسابك وستحتاج إلى التسجيل
مرة أخرى.

إذا لم تقم بإنشاء حساب في ANIMINA، يرجى تجاهل هذا
البريد الإلكتروني.

==============================
