ANIMINA: <%= @count %> <%= if @count == 1, do: "مستخدم جديد", else: "مستخدمين جدد" %> خلال الـ 24 ساعة الماضية
---

مرحبًا،

<%= @count %> <%= if @count == 1, do: "مستخدم جديد سجّل وأكّد عبر رمز PIN في ANIMINA خلال الـ 24 ساعة الماضية.", else: "مستخدمين جدد سجّلوا وأكّدوا عبر رمز PIN في ANIMINA خلال الـ 24 ساعة الماضية." %>
