إعادة تعيين كلمة المرور – ANIMINA
---

==============================

مرحبًا <%= @display_name %>،

يمكنك إعادة تعيين كلمة المرور من خلال زيارة الرابط
التالي:

<%= @url %>

هذا الرابط صالح لمدة ساعة واحدة.

إذا لم تطلب كلمة مرور جديدة، يرجى تجاهل هذا البريد
الإلكتروني.

==============================
