تعليمات تغيير البريد الإلكتروني – ANIMINA
---

==============================

مرحبًا <%= @email %>،

يمكنك تغيير بريدك الإلكتروني من خلال زيارة الرابط
أدناه:

<%= @url %>

إذا لم تطلب هذا التغيير، يرجى تجاهل هذه الرسالة.

==============================
