Ваш обліковий запис ANIMINA заплановано до видалення
---

Вітаємо, <%= @display_name %>,

Ваш обліковий запис ANIMINA було видалено. Нам шкода, що ви йдете!

Якщо ви передумаєте, ви можете будь-коли відновити свій обліковий запис,
просто увійшовши за допомогою своєї електронної пошти та пароля за адресою:

https://animina.de/users/log-in

Ваш обліковий запис і всі дані будуть остаточно видалені
<%= @permanent_deletion_date %>.

Після цієї дати відновлення буде неможливим.
