Ваш код підтвердження для ANIMINA
---

==============================

Вітаємо, <%= @email %>,

Ваш код підтвердження:

    <%= @pin %>

Будь ласка, введіть цей код протягом 30 хвилин для
підтвердження вашої адреси електронної пошти.

У вас максимум 3 спроби. Після 3 неправильних введень
або через 30 хвилин ваш акаунт буде видалено, і вам
потрібно буде зареєструватися знову.

Якщо ви не створювали акаунт на ANIMINA, будь ласка,
проігноруйте цей лист.

==============================
