ANIMINA: <%= @count %> <%= if @count == 1, do: "новий користувач", else: "нових користувачів" %> за останні 24 години
---

==============================

Вітаємо,

<%= @count %> <%= if @count == 1, do: "новий користувач зареєструвався та підтвердив акаунт через PIN на ANIMINA за останні 24 години.", else: "нових користувачів зареєструвалися та підтвердили акаунт через PIN на ANIMINA за останні 24 години." %>

==============================
