Повідомлення про безпеку – ANIMINA
---

Вітаємо<%= if @display_name do %>, <%= @display_name %><% end %>,

Хтось намагався <%= @attempted_at %> створити новий
акаунт ANIMINA з вашою адресою електронної пошти
(<%= @email %>).

Якщо це були не ви, ми рекомендуємо змінити пароль для
захисту вашого акаунту.

Якщо ви намагалися зареєструватися: у вас вже є акаунт.
Будь ласка, увійдіть з існуючим паролем або скористайтеся
функцією відновлення пароля.
