[ANIMINA] Сповіщення про чергу Ollama: <%= @queue_count %> фото в очікуванні
---

Вітаємо,

Черга перевірки фото Ollama перевищила поріг.

Стан черги:
- Фото в очікуванні: <%= @queue_count %>
- Вік найстарішого фото: <%= @oldest_photo_age_hours %> годин
- Стан Ollama: <%= @ollama_status %>

Будь ласка, перевірте сторінку адміністратора та вживіть заходів:
https://animina.de/admin/ollama-queue

Це сповіщення надсилається не частіше одного разу на годину.
