Скидання пароля – ANIMINA
---

Вітаємо, <%= @display_name %>,

Ви можете скинути пароль, перейшовши за наступним
посиланням:

<%= @url %>

Це посилання дійсне протягом 1 години.

Якщо ви не запитували новий пароль, будь ласка,
проігноруйте цей лист.
