У вас є непрочитані повідомлення на ANIMINA
---
Привіт<%= if @greeting_name != "" do %> <%= @greeting_name %><% end %>,

У вас <%= @unread_count %> непрочитаних повідомлень на ANIMINA.

Хтось хоче познайомитися з вами! Не змушуйте чекати.

Увійдіть зараз, щоб прочитати ваші повідомлення:
https://animina.de/messages
