Інструкції зі зміни електронної пошти – ANIMINA
---

==============================

Вітаємо, <%= @display_name %>,

Ви можете змінити свою адресу електронної пошти,
перейшовши за посиланням нижче:

<%= @url %>

Якщо ви не запитували цю зміну, будь ласка,
проігноруйте це повідомлення.

==============================
